
config reference: arachNIDS http://www.whitehats.com/info/IDS
config reference: bid	    http://www.securityfocus.com/bid/
config reference: bugtraq   http://www.securityfocus.com/bid/
config reference: bugtraq   http://www.securityfocus.com/bid/ 
config reference: cve       http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: et        http://doc.emergingthreats.net/
config reference: etpro     http://doc.emergingthreatpro.com/
config reference: McAfee    http://vil.nai.com/vil/content/v_
config reference: md5       http://www.threatexpert.com/report.aspx?md5=
config reference: msb       http://technet.microsoft.com/en-us/security/bulletin/
config reference: nessus    http://cgi.nessus.org/plugins/dump.php3?id=
config reference: osvdb	    http://osvdb.org/show/osvdb/
config reference: secunia   http://www.secunia.com/advisories/
config reference: telus     http://
config reference: url       http://
